h1{background-color;font-size: large;color: beige;text-align: center;}
.farhan{background-color: white;text-align: center;color: black;}
.ali:hover{ color: green; background-color: aqua;}
.aree:hover{background-color: gray;color: green;}
.misba:hover{color: green; background-color: purple;text-align: center;}
.faree:hover{font-family: 'Times New Roman', Times, serif;background-color: yellowgreen;color: goldenrod;}
.farn:hover{background-color: papayawhip;background-color: gray;}
.fff:hover{background-color: salmon;color: green;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;}
em{text-align: center; background-color: green; color: plum;  padding: 5px 5px;font-size: 80px;}
