h1{color: blue;background-color: brown;border: 2px solid green;}
.farhan{color: brown;background-color: blueviolet; background-color: aquamarine;border: 2.5px solid greenyellow;}
pre{font-size: large;font-family: Verdana, Geneva, Tahoma, sans-serif;color: brown;}
hr{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: larger;}
.ali{background-color: aqua;}