pre{text-align: center;font-size: 22px;}
body{background-color: silver;}
h1{text-align: center; background-color: brown;font-size: 22px; color: aqua;}
h4{font-size: 25px; text-align: center;border: 3px green;
border: dashed palegoldenrod;
background-color: salmon;}
h5{font-size: 25px;
text-align: center;
border: 3px solid gray;
background-color: green;}
.faree:hover{color: seagreen; background-color: red;}